* {
    font-family: 'Rubik', sans-serif;
}

.header {
    background-image: url("../assets/pattern-bg.png");
    height: 30vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {
    margin-bottom: 1rem;
}

.inputContainer {
    width: 45%;
}

.inputText {
    font-size: 18px;
    border-radius: .5rem 0 0 .5rem;
    padding: .75rem;
    font-weight: 700;
}

.buttonInputText {
    background-color: hsl(0, 0%, 5%);
    border: none;
    padding: 1rem;
    border-radius: 0 .5rem .5rem 0;
    transition: .2s;
}

.buttonInputText:hover {
    background-color: hsl(0, 0%, 15%);
}

.infoPanel {
    background-color: white;
    width: 70vw;
    height: 20vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    bottom: 60%;
    border-radius: 1rem;
    z-index: 100; 
}


.boxDivider {
    width: 1px;
    height: 50%;
    background-color: black;
    margin: 50% auto;
}

.panelText {
    display: flex;
    height: 100%;
    flex-direction: column;
}


.panelText p {
    overflow-y: auto;
    font-size: 20px;
}

.panel-tittle {
    margin-top: 1rem;
    font-weight: 500;
    color: #888;
    overflow: visible !important;
}

.panel-textIp {
    font-weight: 700;
    overflow: visible !important;
}

.leaflet-container {
    z-index: 0;
}

.locationIspOverflow {
    height: 60%;
    overflow-y: auto;
    overflow-x: hidden;
}


/* width */
.locationIspOverflow::-webkit-scrollbar {
    width: 10px;
    left: 10;
}

/* Track */
.locationIspOverflow::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;

}

.locationIspOverflow::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
  
.locationIspOverflow::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width: 575px) {
    .inputContainer {
        width: 75%;
    }

    .infoPanel {
        background-color: white;
        width: 90vw;
        height: 35vh;
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        bottom: 45%;
        border-radius: 1rem;
        z-index: 100; 
    }

    .panelText {
        display: flex;
        height: 20%;
    }

    .panelText p {
        overflow-y: auto;
        font-size: 15px;
    }
} 